<div class="login">
    <div class="header">
      Se Connecter
    </div>

    <div class="content">

		<%= form_for("user", :url => user_session_path, html: {:class => "form-inline"}) do |f| %>
		  <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" %>

		  <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>

		  <%= f.submit "Se Connecter", :class => "btn btn-primary" %>
		<% end %>

    </div>
</div>