<div class="login">
    <div class="header">
      Se Connecter
    </div>

    <div class="content controls controls-row">

		<%= form_for("user", :url => user_session_path, :class => "form-inline") do |f| %>
		  <%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>

		  <%= f.password_field :password, :class => "span2", :placeholder => "Password" %>

		  <%= f.submit "Sign in", :class => "btn btn-primary" %>
		<% end %>

    </div>
</div>