<div class="social">
    <div class="header">
      Ou Socialement
    </div>

    <div class="content">

		<div class="facebook_button">
			<div class="f_logo"></div>
			<%= link_to (image_tag "sidebar/flogo.png"), user_omniauth_authorize_path(:facebook) %>
			<%= link_to "Se Connecter avec Facebook", user_omniauth_authorize_path(:facebook) %>
		</div>
		

    </div>
</div>