<div class="social">
    <div class="header">
      Ou Socialement
    </div>

    <div class="content">

		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

    </div>
</div>