/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jasny-bootstrap-responsive
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin-ext,latin);

#sidebar-navs {
	position: fixed;

	top: 0px;
	right: 0px;

	width: 60px;
	height: 100%;

	background-color: #eee;
	
	line-height: 60px;
	vertical-align: middle;
	text-align: center;

	.sidebar-button {
		height: 60px;
		width: 60px;

		img {
			height: 50px;
			width: 50px;

			border-radius: 3px;
		}
		
		&:hover {
			background-color: #333;
		}

		a {
			background-color: transparent;

		}
	}
}

#login-panel {
	z-index: 1000;

	width: 370px;

	color: #fff;

	.login .content {
		padding: 0px;
		margin: 0px;

		input {
			margin: 5px;

			width: 100px;
		}
	}

	.register .content .table .forms {
		.names {
			margin: 10px;
			margin-left: 0px;

			width: 155px;
		}

		.large {
			margin: 10px;
			margin-left: 0px;

			width: 355px;
		}
	}

	.login, .register, .social {
		.header {
			width: 100%;
			height: 50px;

			padding: 10px;

			line-height: 30px;
			font-family: 'Source Sans Pro', sans-serif;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: bold;

			background-color: #2e3641;

		}

		.content {
			width: 100%;
			min-height: 20px;

			padding: 10px;
			background-color: #ebebeb;

			text-align: center;
			vertical-align: middle;

			.signin {
				border-radius: 2px;
				border: 0px;
				height: 28px;

				color: #fff;

				margin-left: 10px;

				background-color: #227fdc;
			}

			input {
				text-align: left;
			}



			.actions {
				width: 335px;

				margin-top: 10px;
				padding-right: 0px;

				text-align: right;
			}
		}
	}
}

#quit {
	position: absolute;
	top: 10px;
	left: -30px;
}