.bs-callout-warning {
background-color: #fefbed;
border-color: #f1e7bc;
}
.bs-callout {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 5px solid #eee;
}


//SOCIAL PARTS AND BUTTONS
.facebook_button {
	position: relative;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;

	background-clip: padding-box;
	background-color: #3a5898;
	color: white;
	cursor: pointer;
	font-family: "Whitney 4r",Helvetica,Arial,sans-serif;
	font-weight: 100;
	font-size: 20px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	padding: 0 15px 0 10px;
	text-align: center;

	a {
		color: white;
		cursor: pointer;
		font-family: "Whitney 4r",Helvetica,Arial,sans-serif;
		font-size: 20px;
		line-height: 60px;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;

		&:hover {
			background-color: transparent;
		}

		img {
			vertical-align: middle;

			margin-top: -7px;
		}
	}

}